services:
  qbittorrent:
    image: ghcr.io/home-operations/qbittorrent:5.1.4
    platform: linux/amd64
    privileged: False
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    stdin_open: False
    tty: False
    user: '${PUID}:${PGID}'
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 4096M
    environment:
      UID: ${PUID}
      USER_ID: ${PUID}
      PUID: ${PUID}
      GID: ${PUID}
      GROUP_ID: ${PGID}
      PGID: ${PGID}
      QBT_TORRENTING_PORT: ${TORRENT_PORT}
      QBT_WEBUI_PORT: ${WEB_UI_PORT}
      TZ: America/Los_Angeles
      UMASK: 002
      UMASK_SET: 002
      NVIDIA_VISIBLE_DEVICES: void
    group_add:
      - ${PGID}
    healthcheck:
      interval: 30s
      retries: 5
      start_interval: 2s
      start_period: 15s
      test:
        - CMD
        - curl
        - '--request'
        - GET
        - '--silent'
        - '--output'
        - /dev/null
        - '--show-error'
        - '--fail'
        - http://127.0.0.1:${WEB_UI_PORT}/
      timeout: 5s
    network_mode: "container:gluetun"
    # NOTE: Ports moved to gluetun, access via gluetun now
    # ports:
    #   - mode: ingress
    #     protocol: tcp
    #     published: ${WEB_UI_PORT}
    #     target: 30024
      # This section is only needed if the VPN you're using
      # supports port forwarding (often not available in free tier)
      # - mode: ingress
      #   protocol: tcp
      #   published: ${TORRENT_PORT}
      #   target: 51413
      # - mode: ingress
      #   protocol: udp
      #   published: ${TORRENT_PORT}
      #   target: 51413
    volumes:
      - bind:
          create_host_path: False
          propagation: rprivate
        read_only: False
        source: ${DATA_DIR}/qbittorrent-data
        target: /config
        type: bind
      - bind:
          create_host_path: False
          propagation: rprivate
        read_only: False
        source: ${DATA_DIR}/torrents
        target: /downloads
        type: bind
volumes: {}
x-portals:
  - host: 0.0.0.0
    name: Web UI
    path: /
    port: ${WEB_UI_PORT}
    scheme: http
