services:
  pihole:
    image: pihole/pihole:2025.11.1
    platform: linux/amd64
    privileged: false
    restart: unless-stopped
    shm_size: 64M
    stdin_open: false
    tty: false
    # Must run as root?
    user: 0:0
    cap_add:
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - KILL
      - NET_ADMIN
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_NICE
      - SYS_TIME
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 4096M
    environment:
      PIHOLE_UID: ${PUID}
      PIHOLE_GID: ${PGID}
      FTLCONF_dns_listeningMode: all
      FTLCONF_webserver_api_password: "${PASSWORD}"
      FTLCONF_webserver_port: "${WEB_UI_PORT}"
      NVIDIA_VISIBLE_DEVICES: void
      TZ: America/Los_Angeles
      UMASK: "002"
      UMASK_SET: "002"
    group_add:
      - ${PGID}
    healthcheck:
      interval: 30s
      retries: 5
      start_interval: 2s
      start_period: 15s
      test:
        - CMD
        - timeout
        - "1"
        - bash
        - -c
        - cat < /dev/null > /dev/tcp/127.0.0.1/${WEB_UI_PORT}
      timeout: 5s
    ports:
      - mode: ingress
        protocol: tcp
        published: ${WEB_UI_PORT}
        target: ${WEB_UI_PORT}
      - mode: ingress
        protocol: tcp
        published: 53
        target: 53
      - mode: ingress
        protocol: udp
        published: 53
        target: 53
    volumes:
      - bind:
          create_host_path: false
          propagation: rprivate
        read_only: false
        source: ${DATA_DIR}/dnsmasq
        target: /etc/dnsmasq.d
        type: bind
      - bind:
          create_host_path: false
          propagation: rprivate
        read_only: false
        source: ${DATA_DIR}/config
        target: /etc/pihole
        type: bind
volumes: {}
x-portals:
  - host: 0.0.0.0
    name: Web UI
    path: /admin/
    port: ${WEB_UI_PORT}
    scheme: http
networks: {}
