configs:
  permissions_actions_data:
    content: >-
      [{"read_only": false, "mount_path":
      "/mnt/permission/postgres_postgres_data", "is_temporary": false,
      "identifier": "postgres_postgres_data", "recursive": false, "mode":
      "check", "uid": 999, "gid": 999, "chmod": null}, {"read_only": false,
      "mount_path": "/mnt/permission/tmp_gitea", "is_temporary": true,
      "identifier": "tmp_gitea", "recursive": true, "mode": "check", "uid":
      1000, "gid": 1000, "chmod": null}]
services:
  gitea:
    cap_drop:
      - ALL
    depends_on:
      permissions:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 4096M
    environment:
      GITEA__database__DB_TYPE: postgres
      GITEA__database__HOST: postgres
      GITEA__database__NAME: gitea
      GITEA__database__PASSWD: dsj83988DFo438F&t744tga
      GITEA__database__USER: gitea
      GITEA__server__HTTP_PORT: '30008'
      GITEA__server__PROTOCOL: http
      GITEA__server__ROOT_URL: http://truenas-scale:30008
      GITEA__server__SSH_LISTEN_PORT: '30009'
      GITEA__server__SSH_PORT: '30009'
      NVIDIA_VISIBLE_DEVICES: void
      TZ: Etc/UTC
      UMASK: '002'
      UMASK_SET: '002'
    group_add:
      - 568
    healthcheck:
      interval: 30s
      retries: 5
      start_interval: 2s
      start_period: 15s
      test:
        - CMD
        - curl
        - '--request'
        - GET
        - '--silent'
        - '--output'
        - /dev/null
        - '--show-error'
        - '--fail'
        - http://127.0.0.1:30008/api/healthz
      timeout: 5s
    image: gitea/gitea:1.25.2-rootless
    platform: linux/amd64
    ports:
      - mode: ingress
        protocol: tcp
        published: 30008
        target: 30008
      - mode: ingress
        protocol: tcp
        published: 30009
        target: 30009
    privileged: False
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    stdin_open: False
    tty: False
    user: '1000:1000'
    volumes:
      - bind:
          create_host_path: False
          propagation: rprivate
        read_only: False
        source: /mnt/data_pool_1/brents-data/gitea-data/config
        target: /etc/gitea
        type: bind
      - read_only: False
        source: tmp-gitea
        target: /tmp/gitea
        type: volume
        volume:
          nocopy: False
      - bind:
          create_host_path: False
          propagation: rprivate
        read_only: False
        source: /mnt/data_pool_1/brents-data/gitea-data/data
        target: /var/lib/gitea
        type: bind
  #?#############################
  permissions:
    cap_add:
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
    cap_drop:
      - ALL
    configs:
      - mode: 320
        source: permissions_actions_data
        target: /script/actions.json
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1024M
    entrypoint:
      - python3
      - /script/permissions.py
    environment:
      NVIDIA_VISIBLE_DEVICES: void
      TZ: Etc/UTC
      UMASK: '002'
      UMASK_SET: '002'
    group_add:
      - 568
    healthcheck:
      disable: True
    image: ixsystems/container-utils:1.0.2
    network_mode: none
    platform: linux/amd64
    privileged: False
    restart: on-failure:1
    security_opt:
      - no-new-privileges=true
    stdin_open: False
    tty: False
    user: '0:0'
    volumes:
      - bind:
          create_host_path: False
          propagation: rprivate
        read_only: False
        source: /mnt/data_pool_1/brents-data/gitea-data/postgres
        target: /mnt/permission/postgres_postgres_data
        type: bind
      - read_only: False
        source: tmp-gitea
        target: /mnt/permission/tmp_gitea
        type: volume
        volume:
          nocopy: False
  #?#############################
  postgres:
    cap_drop:
      - ALL
    depends_on:
      permissions:
        condition: service_completed_successfully
      postgres_upgrade:
        condition: service_completed_successfully
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 4096M
    environment:
      NVIDIA_VISIBLE_DEVICES: void
      PGDATA: /var/lib/postgresql/18/docker
      PGPORT: '5432'
      POSTGRES_DB: gitea
      POSTGRES_PASSWORD: dsj83988DFo438F&t744tga
      POSTGRES_USER: gitea
      TZ: Etc/UTC
      UMASK: '002'
      UMASK_SET: '002'
    group_add:
      - 568
    healthcheck:
      interval: 30s
      retries: 5
      start_interval: 2s
      start_period: 15s
      test:
        - CMD
        - pg_isready
        - '-h'
        - 127.0.0.1
        - '-p'
        - '5432'
        - '-U'
        - gitea
        - '-d'
        - gitea
      timeout: 5s
    image: postgres:18.1-trixie
    platform: linux/amd64
    privileged: False
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    shm_size: 256M
    stdin_open: False
    tty: False
    user: '999:999'
    volumes:
      - bind:
          create_host_path: False
          propagation: rprivate
        read_only: False
        source: /mnt/data_pool_1/brents-data/gitea-data/postgres
        target: /var/lib/postgresql
        type: bind
  #?#############################
  postgres_upgrade:
    cap_drop:
      - ALL
    depends_on:
      permissions:
        condition: service_completed_successfully
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1024M
    entrypoint:
      - /bin/bash
      - '-c'
      - /upgrade.sh
    environment:
      NVIDIA_VISIBLE_DEVICES: void
      PGDATA: /var/lib/postgresql/18/docker
      PGPORT: '5432'
      POSTGRES_DB: gitea
      POSTGRES_PASSWORD: dsj83988DFo438F&t744tga
      POSTGRES_USER: gitea
      TARGET_VERSION: '18'
      TZ: Etc/UTC
      UMASK: '002'
      UMASK_SET: '002'
    group_add:
      - 568
    healthcheck:
      disable: True
    image: ixsystems/postgres-upgrade:1.1.4
    network_mode: none
    platform: linux/amd64
    privileged: False
    restart: on-failure:1
    security_opt:
      - no-new-privileges=true
    stdin_open: False
    tty: False
    user: '999:999'
    volumes:
      - bind:
          create_host_path: False
          propagation: rprivate
        read_only: False
        source: /mnt/data_pool_1/brents-data/gitea-data/postgres
        target: /var/lib/postgresql
        type: bind
  #?#############################
volumes:
  tmp-gitea: {}
