services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    platform: linux/amd64
    privileged: False
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    stdin_open: False
    tty: False
    user: '${PUID}:${PGID}'
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 4096M
    environment:
      HOMEPAGE_ALLOWED_HOSTS: '*'
      NVIDIA_VISIBLE_DEVICES: void
      PORT: '${WEB_UI_PORT}'
      TZ: Etc/UTC
      UMASK: '002'
      UMASK_SET: '002'
    group_add:
      - ${PGID}
      # 999 is the docker group
      - 999
    healthcheck:
      interval: 30s
      retries: 5
      start_interval: 2s
      start_period: 15s
      test:
        - CMD
        - wget
        - '--quiet'
        - '--spider'
        - http://127.0.0.1:${WEB_UI_PORT}/api/healthcheck
      timeout: 5s
    ports:
      - mode: ingress
        protocol: tcp
        published: ${WEB_UI_PORT}
        target: ${WEB_UI_PORT}
    volumes:
      - bind:
          create_host_path: False
          propagation: rprivate
        read_only: False
        source: /mnt/data_pool_1/brents-data/homepage-data
        target: /app/config
        type: bind
      - bind:
          create_host_path: False
          propagation: rprivate
        read_only: True
        source: /var/run/docker.sock
        target: /var/run/docker.sock
        type: bind
volumes: {}
x-portals:
  - host: 0.0.0.0
    name: Web UI
    path: /
    port: ${WEB_UI_PORT}
    scheme: http
