UID=1000
GID=1000
TZ=America/Los_Angeles
TRUENAS_CONDUIT_PORT=4567
TRUENAS_HTTPS_PORT=443
TRUENAS_API_KEY=
TRUENAS_VALIDATE_CERTS=false
TRUENAS_LOG_LEVEL=debug
TRUENAS_CERT_PATH=
TRUENAS_API_ROUTE=
TRUENAS_REQUEST_HEADER=
TRUENAS_CRYPT_KEY=
SECRETS_DIR=