volumes:
  mysql_data:
  romm_resources:
  romm_redis_data:

services:
  romm:
    image: rommapp/romm:latest
    container_name: romm
    restart: no
    platform: linux/amd64
    privileged: false
    shm_size: 64M
    # Romm runs as root by default
    # user: 0:0
    stdin_open: false
    tty: false
    deploy:
      resources:
        limits:
          cpus: "4"
          memory: 4096M
    environment:
      DB_HOST: romm-db
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER} 
      DB_PASSWD: ${DB_PASSWORD}
      ROMM_AUTH_SECRET_KEY: ${ROMM_AUTH_SECRET_KEY}
      SCREENSCRAPER_USER: ${SCREENSCRAPER_USER}
      SCREENSCRAPER_PASSWORD: ${SCREENSCRAPER_PASSWORD}
      RETROACHIEVEMENTS_API_KEY: ${RETROACHIEVEMENTS_API_KEY}
      STEAMGRIDDB_API_KEY: ${STEAMGRIDDB_API_KEY}
      HASHEOUS_API_ENABLED: ${HASHEOUS_API_ENABLED}
    volumes:
      # Resources fetched from IGDB (covers, screenshots, etc.):
      - romm_resources:/romm/resources 
      # Cached data for background tasks:
      - romm_redis_data:/redis-data
      # Your game library. Check https://github.com/rommapp/romm?tab=readme-ov-file#folder-structure for more details.
      - ${DATA_DIR}/library:/romm/library
      # Uploaded saves, states, etc:
      - ${DATA_DIR}/assets:/romm/assets 
      # Path where config.yml is store:
      - ${DATA_DIR}/config:/romm/config 
    ports:
      - ${WEB_UI_PORT}:8080
    depends_on:
      romm-db:
        condition: service_healthy
        restart: true

  romm-db:
    image: mariadb:latest
    container_name: romm-db
    restart: unless-stopped
    environment:
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [CMD, healthcheck.sh, --connect, --innodb_initialized]
      start_period: 30s
      start_interval: 10s
      interval: 10s
      timeout: 5s
      retries: 5
