services:
  myservice:
    image: programming-toolkit:latest
    platform: linux/amd64
    # Example running as root:
    user: 0:0
    # Generally want privleged false unless
    privileged: false
    restart: unless-stopped
    shm_size: 64M
    # Generally don't want stdin or tty
    stdin_open: false
    tty: false
    environment:
      TZ: America/Los_Angeles
      UMASK: "002"
      UMASK_SET: "002"
      PUID: ${PUID}
      PGID: ${PGID}
      PASSWORD: ${PASSWORD}
    # If we're running as root (or some other user)
    # we need to add the user's group to the supplementary groups to be able to
    # access their files in the data pool
    group_add:
      - ${PGID}
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - KILL
      - NET_ADMIN
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_NICE
      - SYS_TIME
      - SYS_CHROOT
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 4096M
    healthcheck:
      interval: 30s
      retries: 5
      start_interval: 2s
      start_period: 15s
      test:
        - CMD
        - timeout
        - "1"
        - bash
        - -c
        - cat < /dev/null > /dev/tcp/127.0.0.1/20720
      timeout: 5s
    ports:
      # admin panel
      - mode: ingress
        protocol: tcp
        published: ${WEB_UI_PORT}
        target: 5000
      # code-server
      - mode: ingress
        protocol: tcp
        published: ${WEB_UI_PORT2}
        target: 5001
      - mode: ingress
        protocol: tcp
        published: ${SSH_PORT}
        target: 22
    volumes:
      - bind:
          create_host_path: false
          propagation: rprivate
        read_only: false
        source: ${DATA_DIR}/workspace
        target: /workspace
        type: bind
      - bind:
          create_host_path: false
          propagation: rprivate
        read_only: false
        source: ${DATA_DIR}/home
        target: /home/devuser
        type: bind
