services:
  rclone-webui:
    image: rclone/rclone:latest
    container_name: rclone-webui
    user: ${PUID}:${PGID}
    ports:
      - ${WEB_UI_PORT}:5572
    restart: unless-stopped
    volumes:
      - ${DATA_DIR}/rclone-config:/config/rclone
      - ${DATA_DIR}/cloud-drives/dropbox:/data/dropbox:shared
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
    devices:
      - /dev/fuse
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    command:
      - rcd
      - --rc-web-gui
      - --rc-web-gui-no-open-browser
      - --rc-addr
      - :5572
      - --rc-user
      - ${USERNAME}
      - --rc-pass
      - ${PASSWORD}
      - --cache-dir=/config/rclone/webui-cache

