# FORMAT:
# <where Caddy listens> {
#     reverse_proxy <where Caddy forwards to>
# }

(logging) {
	log {
		output stdout
		format json
	}
}

# TrueNAS Web UI
truenas-scale.tail85e705.ts.net {
	import logging
	tls {
		get_certificate tailscale
	}
	reverse_proxy 127.0.0.1:8080
}

# Code-Server Ubuntu VM
truenas-scale.tail85e705.ts.net:9000 {
	import logging
	tls {
		get_certificate tailscale
	}
	reverse_proxy http://192.168.1.64:8080
}

# Code-Server Docker Container
truenas-scale.tail85e705.ts.net:9001 {
	import logging
	tls {
		get_certificate tailscale
	}
	reverse_proxy 127.0.0.1:33843
}
